.StatsCard {
    width: 200px;
    background-color: #243325;
    border-radius: 8px;
    padding: 10px 10px 0 10px;
    gap: 10px;
    color: white;
    display: flex;
    align-items: flex-start;
    width: 100%;

    .iconWrapper {
        svg {
            path {
                fill: #ffffff;
            }
        }
    }

    .StatsCardContent {
        display: flex;
        flex-direction: column;

        .label {
            font-size: 18px;
            opacity: 0.8;
        }

        .StatCount {
            font-size: 35px;
        }
    }
}

//Small Screen only
@media (max-width: 576px) {
    .StatsCard {
        width: 100%;
    }
}
