body {
    background-color: #161818 !important;
    font-family: Arial, Helvetica, sans-serif !important;
  }

  /* Temp style (unoptimized) */
  span {
    font-size: 12px;
    /* color: #8f918f; */
  }